<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/otalk.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <title>바로상담 2페이지-운영시간이 아닐때</title>
</head>
<body style="overflow: hidden; background-image : url('/images/bg.png'); background-repeat: no-repeat;">
<script th:src="@{/js/sync.js}"></script>
<div class="top">
    <img id="back-button" style="padding-left: 10px" src="/images/arrow-left.svg" alt="왼쪽 화살표">
    <p class="text-title" style="padding-left: 10px">로봇청소기 오똑이 모드</p>
</div>


<div class="container" style="width: 340px; flex-direction: column;">
    <div class="container" style="justify-content: center; margin-bottom:10px">
        <img style="width: 64px; height: 64px;" src="/images/telephone.png" alt="수화기">
        <img src="/images/dot2.svg" alt="..">
        <img src="/images/X.svg" alt="X">
    </div>
    <div class="main-text" style="font-weight: 700; margin: 20px;">
        지금은 상담 운영 시간이<br/>아닙니다.
    </div>
    <div class="main-text" style="font-size: 15pt; font-weight: 600; margin: 15px; line-height: 1.8;">
        상담 운영 시간을 확인해주세요.
        <br/>지금은 상담 예약만 가능합니다.
    </div>

    <div class="main-button text-notice" style="text-align:center; width: 316px; height:130px; background-color: #7D7D7D">
        [상담 운영 시간]<br/>평일: 08:00 ~ 18:00<br/>주말: 09:00 ~ 17:00
    </div>
    <div class="main-button-horizon text-button">
        상담 예약하기
    </div>
</div>

</body>
</html>
 