<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/counselor.css" />
    <link rel="stylesheet" href="/style/main_site.css" />
  </head>
  <body>
    <div class="music_790_1998">
      <div class="music_790_1999">
        <div class="music_790_2011">
          <div class="music_790_2013">
            <div class="music_790_2014"></div>
            <img
              class="music_790_2015"
              src="https://seal-img.nos-jd.163yun.com/obj/w5rCgMKVw6DCmGzCmsK-/45874852326/441b/9e8b/e2df/c377a29098be3976f5daca2e900a658f.png"
            />
          </div>
        </div>
        <div class="flexContainer_15_music_790_1999">
          <div class="music_790_2009">
            <span class="music_790_2009_0_4">상담사 </span
            ><span class="music_790_2009_4_9">김 지 은</span>
          </div>
          <span class="music_790_2010">현재 상담 중 입니다.</span>
        </div>
        <span class="music_790_2007">오똑이 상담사 페이지</span
        ><span class="music_790_2008">2024.09.13(금)</span>
      </div>
      <div class="flexContainer_13_music_790_1998">
        <span class="music_790_2000">사용자 앱 화면</span
        ><span class="music_790_2004">고객 정보</span
        ><span class="music_790_2006">고객 기기 정보</span>
      </div>
      
      
      <!-- iframe -->
      <div class="flexContainer_14_music_790_1998">
        <div class="music_790_2005">
            <!-- <iframe src="pageA" class="user-app-iframe"></iframe> -->
<!--            <iframe src="thinq_main" class="user-app-iframe"></iframe>-->
            <iframe src="temp" class="user-app-iframe"></iframe>
        </div>



        <div class="flexContainer_16_flexContainer_14_music_790_1998">
          <div class="music_790_2034">
            <div class="flexContainer_20_music_790_2034">
              <div class="music_790_2045">
                <span class="music_790_2046">성함</span>
              </div>
              <div class="music_790_2049">
                <span class="music_790_2050">나이</span>
              </div>
              <div class="music_790_2053">
                <span class="music_790_2054">성별</span>
              </div>
              <div class="music_790_2057">
                <span class="music_790_2058">거주지</span>
              </div>
              <div class="music_790_2061">
                <span class="music_790_2062">교육 경험</span>
              </div>
            </div>
            <div class="flexContainer_19_music_790_2034">
              <div class="music_790_2044">
                <span class="music_790_2047">김숙희</span>
              </div>
              <div class="music_790_2048">
                <span class="music_790_2051">64세</span>
              </div>
              <div class="music_790_2052">
                <span class="music_790_2055">여성</span>
              </div>
              <div class="music_790_2056">
                <span class="music_790_2059">제주</span>
              </div>
              <div class="music_790_2060">
                <span class="music_790_2063">0회</span>
              </div>
            </div>
          </div>
          <span class="music_790_2003">고객 문제 요약</span>
          <div class="music_790_2033">
            <span class="music_790_2037 text_animation"
              >“로봇청소기가 자꾸 현관까지 가서 떨어져요”</span
            >
          </div>
          <span class="music_790_2001">상담사 영상 송출 카메라</span>
          <div class="music_790_2035">
            <div id="webcamStreamContainer" style="position: relative">
                <!-- 비디오 스트림을 위한 비디오 요소 -->
                <video
                  id="video"
                  autoplay
                  playsinline
<!--                  style="visibility: hidden"-->
                ></video>
                <!-- WebGL 캔버스 -->
                <canvas
                  id="glcanvas"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scaleX(-1);
                    z-index: 9999999;
                  "
                ></canvas>
              </div>
          </div>
        </div>
        <div class="flexContainer_17_flexContainer_14_music_790_1998">
          <div class="music_790_2064">
            <div class="flexContainer_22_music_790_2064">
              <div class="music_790_2066">
                <span class="music_790_2069">제품 명</span>
              </div>
              <div class="music_790_2067">
                <span class="music_790_2073">MODEL</span>
              </div>
              <div class="flexContainer_24_flexContainer_22_music_790_2064">
                <span class="music_790_2074">제품 ID</span>
                <div class="music_790_2068"></div>
              </div>
            </div>
            <div class="flexContainer_23_music_790_2064">
              <span class="music_790_2070">LG 코드제로 로보킹 AI 올인원</span
              ><span class="music_790_2071">SER333-DBI22110-CNQ</span
              ><span class="music_790_2072">FNEQ-2B1D-32D3-CBA2-QK</span>
            </div>
            <img
              class="music_790_2065"
              src="https://seal-img.nos-jd.163yun.com/obj/w5rCgMKVw6DCmGzCmsK-/45874852431/3c3f/d265/fa44/617bd42b6f1f09e73caa3e5e63e66890.png"
            />
          </div>
          <span class="music_790_2018">매뉴얼</span>
          <div class="music_790_2036">
            <span class="music_791_861 floatingBtn">금지구역<br />설정</span
            ><span class="music_791_862 floatingBtn">청소 예약</span
            ><span class="music_791_863 floatingBtn">ThinQ<br />앱 연동</span>
          </div>
          <span class="music_790_2002">제어 버튼</span>
          <div
            class="flexContainer_21_flexContainer_17_flexContainer_14_music_790_1998"
          >
            <span class="music_790_2019 floatingBtn">1단계<br />블러</span
            ><span class="music_790_2021 floatingBtn">2단계<br />블링크</span
            ><span class="music_790_2023 floatingBtn">3단계<br />원격 제어</span>
          </div>
        </div>
        <div class="flexContainer_18_flexContainer_14_music_790_1998">
          <span class="music_790_2027 floatingBtn">교육 시작<br />(원격제어)</span
          ><span class="music_790_2031 floatingBtn">A/S 기사<br />연결</span
          ><span class="music_790_2029 floatingBtn">복습<br />노트 추가</span
          ><span class="music_790_2025 floatingBtn">교육 완료</span>
        </div>
      </div>
    </div>

    <script th:src="@{/js/video.js}" defer></script>
    <script th:src="@{/js/btn.js}" defer></script>
    <script th:src="@{/js/sync.js}"></script>
<!--    <script th:src="@{/js/click_sync.js}" defer></script>-->
<script>
  document.querySelector(".music_790_2027").addEventListener("click", function() {
    var iframe = document.querySelector(".user-app-iframe");
    iframe.src = "thinq_main_video";  // iframe의 src를 thinq_main_video로 변경
  });

</script>
  </body>
</html>
