<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/otalk.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <title>오똑이 홈</title>
</head>
<body style="background-image : url('/images/bg.png'); background-repeat: no-repeat; ">

<div class="top">
    <img id="back-button" style="padding-left: 10px" src="/images/arrow-left.svg" alt="왼쪽 화살표">
    <p class="text-title" style="padding-left: 10px">로봇청소기 오똑이 모드</p>
</div>

<div class="container" style="width: 340px; flex-direction: column;">
    <div class="banner" style="width: 316px; height: 65px;">
        <p class="text-instruction">
            오똑이 상담원과 함께 로봇청소기 사용법을 배워보세요!</p>
    </div>
    <img class="main-image" style="width: 185px; height: 218px; " src="/images/roboking.png">

    <div class="product-name text-product" style="width: 270px; height: 40px; margin: 10px;">
        LG 코드제로 로보킹 AI 올인원
    </div>

    <div class="container" style="flex-direction: column;" >
        <div>
            <div class="container">
                <div id="counsel-box" class="main-button text-button">
                    바로 상담하기
                </div>
                <div id="recap" class="main-button text-button" style="background: #D04A4A;">
                    복습하기
                </div>
            </div>
        </div>
        <div id="reservation" class="sub-button text-button" style="width: 316px; height: 70px;">
            상담 예약하기
        </div>
    </div>
</div>

<script>
    // "바로 상담하기" 버튼 클릭 시 서버로 요청
    document.getElementById("counsel-box").addEventListener("click", function() {
        window.location.href = "/counsel";  // 서버의 /counsel로 리다이렉트
    });

    // 뒤로가기
    document.getElementById("back-button").addEventListener("click", function() {
        window.location.href = "/thinq_main";
    });

    // "복습하기" 버튼 클릭 시 서버로 요청
    document.getElementById("recap").addEventListener("click", function() {
        window.location.href = "recap01";  // 서버의 /counsel로 리다이렉트
    });
</script>
</body>
</html>
 