<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/thinq.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body style="overflow: hidden; background-image : url('/images/bg.png'); background-repeat: no-repeat;">
<div class="top text-top">
    <p>우리집 <img src="/images/arrow_down.svg" alt="아래화살표" style="width: 18px;"></p>
    <div>
        <img src="/images/plus.svg" style="width:20px; height: 20px; margin-right: 5px;" alt="플러스"/>
        <img src="/images/magnifier.svg" style="width:20px; height: 20px; margin-right:5px;" alt="돋보기"/>
        <img src="/images/notification_bell.svg" style="width:20px; height: 20px;" alt="알림"/>
    </div>
</div>
<script th:src="@{/js/sync.js}"></script>
<div class="top-card-container">
    <div id="ohtalk" class="text-container" style="background: #DB0000;">
        <p class="text-top-card">오똑이</p>
        <p class="text-top-card-small">로봇청소기</p>
    </div>
    <div class="text-container" style="background: white">
        <p class="text-top-card" style="color:black">바로 꺼낼...</p>
        <p class="text-top-card-small">세탁기</p>
    </div>

    <div class="text-container" style="background: white">
        <p class="text-top-card" style="color:black">맑은 공기...</p>
        <p class="text-top-card-small">공기청정기</p>
    </div>

</div>

<div class="text-title">스마트 루틴 <img src="/images/arrow_right.svg" alt="오른쪽화살표" style="width: 8px;"></div>

<div class="middle-card-container">
    <div class="img-text-container" style="background: white">
        <img class="middle-card-img" src="/images/away_mode.svg" alt="외출 모드">
        <p class="text-top-card" style="color:black">외출 모...</p>
    </div>
    <div class="img-text-container" style="background: white">
        <img class="middle-card-img" src="/images/cinema_mode.svg" alt="시네마 모드">
        <p class="text-top-card" style="color:black">시네마...</p>
    </div>
    <div class="img-text-container" style="background: white">
        <img class="middle-card-img" src="/images/sleep_mode.svg" alt="취침 모드">
        <p class="text-top-card" style="color:black">취침 모...</p>
    </div>
</div>


<div class="text-title">거실</div>

<div class="product-container">
    <div id="robot-btn" class="container product-box">
        <div>
            <div class="product-img">
                <img src="/images/robot_vacuum.svg" style="width: 25px;" alt="로봇청소기">
            </div>
            <div>
                <p class="text-product-name" style="color:black">로봇청소기</p>
                <p class="text-status">대기중</p>
            </div>
        </div>
        <div>
            <img src="/images/play_button.svg" alt="기기버튼" style="margin:10px">
        </div>
    </div>
    <div class="container product-box">
        <div>
            <div class="product-img">
                <img src="/images/air_purifier.svg" alt="공기청정기">
            </div>
            <div>
                <p class="text-product-name" style="color:black">공기청정기</p>
                <p class="text-status"><img src="/images/ellipse-small.svg" alt="상태-좋음"> 좋음</p>
            </div>
        </div>
        <div>
            <img src="/images/power_button.svg" alt="기기버튼" style="margin:10px">
        </div>
    </div>
</div>

<div class="product-container">
    <div class="container product-box">
        <div>
            <div id="robot" class="product-img">
                <img src="/images/refrigerator.svg" style="width: 20px;" alt="냉장고">
            </div>
            <div>
                <p class="text-product-name" style="color:black">냉장고</p>
                <p class="text-status">켜짐</p>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="container product-box">
        <div>
            <div class="product-img">
                <img src="/images/washing_machine.svg" style="width: 25px;"  alt="세탁기">
            </div>
            <div>
                <p class="text-product-name" style="color:black">세탁기</p>
                <p class="text-status">켜짐</p>
            </div>
        </div>
        <div>
            <img src="/images/power_button.svg" alt="기기버튼" style="margin:10px">
        </div>
    </div>
</div>


<div class="product-container">
    <div class="container product-box">
        <div>
            <div id="robot" class="product-img">
                <img src="/images/air_conditioner.svg" alt="에어컨">
            </div>
            <div>
                <p class="text-product-name" style="color:black">에어컨</p>
                <p class="text-status">꺼짐</p>
            </div>
        </div>
        <div>
            <img src="/images/power_button_off.svg" alt="기기버튼" style="margin:10px">
        </div>
    </div>
    <div class="container product-box">
        <div>
            <div class="product-img">
                <img src="/images/airocare.svg"  alt="에어로케어">
            </div>
            <div>
                <p class="text-product-name" style="color:black">에어로케어</p>
                <p class="text-status"><img src="/images/ellipse-small.svg" alt="상태-좋음"> 좋음</p>
            </div>
        </div>
        <div>
            <img src="/images/power_button.svg" alt="기기버튼" style="margin:10px">
        </div>
    </div>
</div>
<script>
    // 오똑이 버튼 클릭 시 페이지 이동
    document.getElementById("ohtalk").addEventListener("click", function() {
        window.location.href = "/otalk_main";  // 서버에서 otalk_main 템플릿 반환
    });

    // 로봇청소기 버튼 클릭 시 페이지 이동
    document.getElementById("robot-btn").addEventListener("click", function() {
        window.location.href = "/counsel05";
    });
</script>
</body>
</html>



